.slider-learn .withHover {
  width: 0px !important;
  height: 18px !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-tranistion: all 0.4s;
  -o-transition: all 0.4s;
}

.slider-learn:hover .withHover {
  width: 18px !important;
  height: 18px !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-tranistion: all 0.4s;
  -o-transition: all 0.4s;
}

.slider-learn .withoutHover {
  width: 18px !important;
  height: 18px !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-tranistion: all 0.4s;
  -o-transition: all 0.4s;
}

.slider-learn:hover .withoutHover {
  width: 0px !important;
  height: 18px !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-tranistion: all 0.4s;
  -o-transition: all 0.4s;
}