.slider-learn .withHover {
  width: 0px !important;
  height: 18px !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-tranistion: all 0.4s;
  -o-transition: all 0.4s;
}

.slider-learn:hover .withHover {
  width: 18px !important;
  height: 18px !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-tranistion: all 0.4s;
  -o-transition: all 0.4s;
}

.slider-learn .withoutHover {
  width: 18px !important;
  height: 18px !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-tranistion: all 0.4s;
  -o-transition: all 0.4s;
}

.slider-learn:hover .withoutHover {
  width: 0px !important;
  height: 18px !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-tranistion: all 0.4s;
  -o-transition: all 0.4s;
}

.content-img{
  display: flex;
  gap: 24px;
  width: 100%;
}

.content-img img{
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}

.high-light {
  display: flex;
  gap: 20px;
  padding: 30px;
  margin: 32px 0;
  background-image: linear-gradient(45deg, #e5e7fe, #fdfdfe);
}