.project-photo-card {
  background-size: 100%;
}

.project-photo-card:hover {
  background-size: 110%;
}

.project-button-card {
  top: 100%;
  bottom: -80%;
}

.project-photo-card:hover .project-button-card {
  bottom: 0;
  top: 0;
}

.content-img {
  display: flex;
  gap: 24px;
  width: 100%;
}

.content-img img {
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}

.high-light {
  display: flex;
  gap: 20px;
  padding: 30px;
  margin: 32px 0;
  background-image: linear-gradient(45deg, #e5e7fe, #fdfdfe);
}